<a class="cr_mission">
    <button class="btn btn-primary auth-buttons" (click)="sidebarOpenClose()">
        {{'common.addCategory' | translate}}
    </button>
</a>
<!--Filter Code-->
<div class="sideFormFields card mb-3" [ngClass]="{'ShowFields' : isSidebarOpenClose}">
    <div class="card-header">
        <span> {{isEditing == true ? ('common.edit' | translate) : 'common.add' | translate }} Category </span>
        <button class="btn" aria-label="Close" (click)="sidebarOpenClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
        <div class="card-body">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <input type="text" placeholder="{{ 'common.name' | translate }}" class="form-control" id="name"
                            formControlName="name" required>
                        <h6 class="error-message">
                            <span *ngIf="myForm.get('name').invalid && myForm.get('name').touched" class="text-danger">
                                {{ 'common.name' | translate }} {{'common.required'| translate}}
                            </span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <button (click)="sidebarOpenClose()" class="btn btn-outline-primary auth-cancel-outline">
                {{'common.cancel' | translate}}
            </button>
            <button class="btn btn-primary auth-buttons" type="submit">
                {{isEditing == true ? ('common.edit' | translate) : 'common.add' | translate }} Category
            </button>
        </div>
    </form>

</div>