<div class="main_login height-vh">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-xs-12 p-0 ">
                <div class="login_bg h-100">
                    <div class="l_logo">
                        <a href="login.html">
                            <img src="./assets/Images/logo.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="w-100 d-flex align-items-center justify-content-center h-75">
                        <div class="l_text_center">
                            <h2 class="mb-3">
                                Your main heading goes here
                            </h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and
                                scrambled it to make a type specimen book
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xs-12 p-0 height-vh ">
                <div class="login_form h-100">
                    <div class="w-100 d-flex align-items-center justify-content-center h-100">
                        <div class="form_sign">
                            <h2>
                                Forgot Password
                            </h2>
                            <p>
                                Enter your email to get reset password link
                            </p>
                            <form #emailForm="ngForm" (ngSubmit)="submitForm(emailForm)">
                                <div class="mb-3 mt-3">
                                    <input type="email" class="form-control" id="email" placeholder="Email Address"
                                        name="email" [(ngModel)]="email" #emailInput="ngModel" required email>
                                    <div class="error-message"
                                        *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                                        <span *ngIf="emailInput.errors?.['required']">
                                            Email is required.
                                        </span>
                                        <span *ngIf="emailInput.errors && emailInput.errors.hasOwnProperty('email')">
                                            Invalid email format.
                                        </span>
                                    </div>
                                </div>
                                <button class="btn btn-primary col-xl-12 auth-buttons"
                                    [disabled]="emailForm.invalid || isLoading">
                                    <span *ngIf="!isLoading">Send Link</span>
                                    <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>