<div class="Container p-0">
    <div class="screen-heading">
        <h3>
            {{ 'dashboard.dashboards' | translate }}
        </h3>
    </div>
    <div class="row p-0">
        <div class="col-xs-12 col-xl-3 col-sm-6 col-md-6 mb-2">
            <div class="mission_card">
                <div class="m_count tm_icon">
                    <h3>{{kpiData?.totalMissions}}</h3>
                    <p>{{ 'dashboard.totalMissions' | translate }}</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-xl-3 col-sm-6 col-md-6 mb-2">
            <div class="mission_card">
                <div class="m_count cm_icon">
                    <h3>{{kpiData?.completedMission}}</h3>
                    <p>{{ 'dashboard.completedMissions' | translate }}</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-xl-3 col-sm-6 col-md-6 mb-2">
            <div class="mission_card">
                <div class="m_count om_icon">
                    <h3>{{kpiData?.completedMission}}</h3>
                    <p>{{ 'dashboard.ongoingMissions' | translate }}</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-xl-3 col-sm-6 col-md-6 mb-2">
            <div class="mission_card">
                <div class="m_count hs_icon">
                    <h3>{{kpiData?.totalHours}}</h3>
                    <p>{{ 'dashboard.totalHoursSpent' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 my-5">
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-6 d-flex flex-column">
            <div class="hours_chart_block rounded-2 border flex-grow-1">
                <div class="hours_heading">
                    <h3 class="float-start">
                        <p>{{ 'dashboard.hoursChart' | translate }}</p>
                    </h3>
                    <div class="float-end">
                        <a class="text-right filter_icon pointer" (click)="toggleDatepicker('hours-chart')"
                            *ngIf="!showDatepickerChart">
                            <img src="./assets/icons/filter.png">
                        </a>
                        <div *ngIf="showDatepickerChart" class="datepicker-container">
                            <input type="date" class="form-control" [(ngModel)]="fromDate" placeholder="From">
                            <input type="date" class="form-control" [(ngModel)]="toDate" placeholder="To">
                            <button (click)="toggleDatepicker('hours-chart')" type="button"
                                class="btn btn-outline-primary auth-cancel-outline">
                                {{'common.cancel' | translate}}
                            </button>
                            <button class="btn btn-primary auth-buttons" (click)="search('hours-chart')">
                                {{'common.search' | translate}}
                            </button>
                            <p class="text-danger">{{ dateError }}</p>
                        </div>
                    </div>
                    <div class="hs_chart">
                        <canvas id="linearChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-xl-6 d-flex flex-column">
            <div class="hours_member_block flex-grow-1">
                <div class="hours_heading table-responsive">
                    <h3 class="float-start">{{ 'dashboard.hoursSpentByMembers' | translate }}</h3>
                    <div class="float-end mb-2">
                        <a class="text-right filter_icon pointer" (click)="toggleDatepicker('hours-member')"
                            *ngIf="!showDatepickerMember">
                            <img src="./assets/icons/filter.png">
                        </a>
                        <div *ngIf="showDatepickerMember" class="datepicker-container">
                            <input type="date" class="form-control" [(ngModel)]="fromDate" placeholder="From">
                            <input type="date" class="form-control" [(ngModel)]="toDate" placeholder="To">
                            <button (click)="toggleDatepicker('hours-member')" type="button"
                                class="btn btn-outline-primary auth-cancel-outline">
                                {{'common.cancel' | translate}}
                            </button>
                            <button class="btn btn-primary auth-buttons" (click)="search('hours-member')">
                                {{'common.search' | translate}}</button>
                            <p class="text-danger">{{ dateError }}</p>
                        </div>
                    </div>
                    <table class="table table-hover mb-0  ">
                        <thead class="table-active">
                            <tr>
                                <th>
                                    {{'common.members' | translate}}
                                </th>
                                <th>
                                    {{'common.function' | translate}}
                                </th>
                                <th>
                                    {{'common.hours' | translate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let data of hoursSpendByMembersList | paginate: { itemsPerPage: 5, currentPage: p }">
                                <td>{{data.fullName}}</td>
                                <td>{{data.designation}}</td>
                                <td>{{data.totalHours}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="no-records-found mt-5 text-center" *ngIf="hoursSpendByMembersList.length == 0">
                        <span>No Records Found ! </span>
                    </div>
                    <div class="text-end mt-4">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row p-0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            <div class="recent_mission_block  mb-5">
                <div class="hours_heading table-responsive">
                    <h3 class="float-start">
                        {{'dashboard.recentMissions' | translate}}
                    </h3>
                    <div class="float-end mb-2">
                        <a class="text-right filter_icon pointer" (click)="toggleDatepicker('recent-mission')"
                            *ngIf="!showDatepickerMission">
                            <img src="./assets/icons/filter.png">
                        </a>
                        <div *ngIf="showDatepickerMission" class="datepicker-container">
                            <input type="date" class="form-control" [(ngModel)]="fromDate" placeholder="From">
                            <input type="date" class="form-control" [(ngModel)]="toDate" placeholder="To">
                            <button (click)="toggleDatepicker('recent-mission')" type="button"
                                class="btn btn-outline-primary auth-cancel-outline">
                                {{'common.cancel' | translate}}
                            </button>
                            <button class="btn btn-primary auth-buttons" (click)="search('recent-mission')">
                                {{'common.search' | translate}}
                            </button>
                            <p class="text-danger">{{ dateError }}</p>
                        </div>
                    </div>
                    <table class="table  table-hover mb-0 ">
                        <thead class="table-active">
                            <tr>
                                <th>{{'common.mission' | translate}}</th>
                                <th>{{'common.status' | translate}}</th>
                                <th>{{'common.noOfMembers' | translate}}</th>
                                <th colspan="2">{{'common.dateCreated' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of missionList">
                                <td>{{data.title}}</td>
                                <td>
                                    <span *ngIf="data.status == 3" class="badge custom-badge done">Done</span>
                                    <span *ngIf="data.status == 2" class="badge custom-badge active">Active</span>
                                    <span *ngIf="data.status == 1" class="badge custom-badge inactive">Inactive</span>
                                </td>
                                <td>{{data.members.length}}</td>
                                <td>{{data.startDate | date: 'M/d/yy, h:mm a'}}</td>
                                <td>
                                    <button type="submit" class="btn" (click)="editDetails(data)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button type="button" class="btn" (click)="deleteProject(data)">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="no-records-found mt-5 text-center" *ngIf="missionList.length == 0">
                        <span>No Records Found ! </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirmation-modal (onClose)="onCloseConfirmationModal($event)" [isOpen]="isConfirmationModalOpen"
    [title]="modalTitle" [message]="modalMessage"></app-confirmation-modal>

<app-edit-project (onClose)="handleChildComponentClose()"></app-edit-project>