<div class="container-fluid align-center">
    <div class="row">
        <div class="mbr-white col-lg-8 col-md-12 content p-0">
            <img src="../../../assets/Rectangle 63.png" class="img-overlay img-bp-logo-rectangle">
            <img src="../../../assets/logoBP 1.png" class="img-overlay img-bp-logo">
            <!-- <img src="../../../assets/Rectangle 62.png" class="img-overlay"> -->
            <img  src="../../../assets/image 1.png" title="" alt="" style="opacity: 77%;width: 100%;">
            <div class="atricle">
                <h5 class="img-overlay img-overlay-article" >Your main heading goes here</h5>
                <span class="img-overlay img-overlay-span">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>
            </div>
        </div>
        <div class="mbr-white img-col col-lg-4 col-md-12 ">
            <!-- <img  src="../../../assets/image 1.png" title="" alt=""> -->
            <div style="margin-top: 306px;">
                  <div class="mx-auto col-10 col-md-8 col-lg-6">
                    <!-- Form -->
                    <form class="form-example" action="" method="post">
                        <label for="signin" class="signin-lable mb-3">Sign in</label>
                      <!-- Input fields -->
                      <div class="form-group mb-3">
                        <input
                          type="text"
                          class="form-control signin-field"
                          id="username"
                          placeholder="Username..."
                          name="username"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control signin-field"
                          id="password"
                          placeholder="Password..."
                          name="password"
                        />
                        <span class="signin-forget-pass">Forgot Password?</span>
                      </div>
                      <button type="submit" class="btn btn-primary btn-customized mt-3 col-md-12 signin-btn">
                        Sign in
                      </button>
                    </form>
                    <!-- Form end -->
                  </div>
            </div>
        </div>
    </div>
</div>