<!--Container Main start-->
<div class="p-3">
    <div class="top_header float-start w-100">
        <div class="screen-heading">
            <h3 class="float-start">
                {{'common.clients' | translate}}
            </h3>
            <div class="top_action float-end">
                <ul>
                    <li *ngIf="isSearchVisible" class="search-input">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..."
                                [(ngModel)]="pagePayload.Search" (input)="updateSearchQuery()" />
                            <span class="input-group-text" (click)="closeSearchInput()">
                                <i class="bi bi-x"></i>
                            </span>
                        </div>
                    </li>
                    <li *ngIf="!isSearchVisible">
                        <a class="m_slider" (click)="toggleSearchInput()">
                            <i class="bi bi-search"></i>
                        </a>
                    </li>
                    <li>
                        <app-add-clients (onClose)="handleChildComponentClose()"></app-add-clients>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="Container p-0">
        <div class="row p-0">
            <table class="table table-hover mb-0 ">
                <thead class="table-active">
                    <tr>
                        <th scope="col"
                            (click)="pagePayload.IsDescending = !pagePayload.IsDescending == true ; getClientsLists()">
                            {{'common.name' | translate}}
                            <span>
                                <i class="bi bi-caret-up-fill" *ngIf="pagePayload.IsDescending"></i>
                                <i class="bi bi-caret-down-fill" *ngIf="!pagePayload.IsDescending"></i>
                            </span>
                        </th>
                        <th scope="col">{{'common.address' | translate}}</th>
                        <th scope="col">{{'common.personOfContactNumber' | translate}}</th>
                        <th scope="col">{{'common.emailAddress' | translate}}</th>
                        <th scope="col">{{'common.mission' | translate}}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of clientsLists | paginate: { itemsPerPage: 10, currentPage: p,totalItems: totalCount }">
                        <td class="text-truncate">{{data.name}}</td>
                        <td class="text-truncate">{{data.address}}</td>
                        <td class="text-truncate">{{data.contact | USphone: data.contact}}</td>
                        <td class="text-truncate">{{data.email}}</td>
                        <td class="text-truncate">
                            <span class="go-to-mission pointer" (click)="goToMissionPage(data)">
                                {{data.projects}}
                            </span>
                        </td>
                        <td class="action-menus">
                            <button class="btn m-0 p-0" type="submit" data-bs-toggle="tooltip" data-bs-placement="left"
                                tooltip="<span>Telephone:</span><p>{{data.contact}}</p><span>Client Name:</span><p>{{data.name}}</p>">
                                <img src="/assets/icons/eye.svg" />
                            </button>

                            <img src="/assets/icons/more-vertical.svg" class="ml-3" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false" />

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item update" (click)="editDetails(data)">
                                        {{'common.updateDetail' | translate}}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item delete" (click)="delete(data)">
                                        {{'common.deleteClient' | translate}}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-skeleton [count]="'10'" *ngIf="skeletons"></app-skeleton>
            <div class="text-end mt-4">
                <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
            </div>
            <div class="no-records-found mt-5 text-center" *ngIf="clientsLists.length == 0 && !skeletons">
                <span>No Records Found ! </span>
            </div>
        </div>
    </div>
</div>
<!--Container Main end-->

<app-confirmation-modal (onClose)="onCloseConfirmationModal($event)" [isOpen]="isConfirmationModalOpen"
    [title]="modalTitle" [message]="modalMessage"></app-confirmation-modal>