<!--Container Main start-->
<div class="p-3">
    <div class="top_header float-start w-100">
        <div class="screen-heading">
            <h3 class="float-start">
                {{'sidebar.analytics' | translate}}
            </h3>
        </div>
    </div>

    <div class="Container p-0">
        <div class="row p-0 rounded-2 border">
            <div class="hours_heading mt-3">
                <h3 class="float-start">{{'dashboard.totalHoursSpent' | translate}}</h3>
                <div class="float-end mb-2">
                    <a class="text-right filter_icon pointer" (click)="toggleDatepicker('hours-chart')"
                        *ngIf="!showDatepickerChart">
                        <img src="./assets/icons/filter.png">
                    </a>
                    <div *ngIf="showDatepickerChart" class="datepicker-container">
                        <input type="date" class="form-control" [(ngModel)]="fromDate" placeholder="From">
                        <input type="date" class="form-control" [(ngModel)]="toDate" placeholder="To">
                        <button (click)="toggleDatepicker('hours-chart')" type="button"
                            class="btn btn-outline-primary auth-cancel-outline">
                            {{'common.cancel' | translate}}
                        </button>
                        <button class="btn btn-primary auth-buttons" (click)="search('hours-chart')">{{'common.search' |
                            translate}}</button>
                        <p class="text-danger">{{ dateError }}</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <canvas id="myChart" height="80px"></canvas>
                </div>
            </div>
        </div>

        <div class="row rounded-2 border mt-5">
            <div class="hours_heading mt-3">
                <h3 class="float-start">{{'common.missionStats' | translate}}</h3>
                <div class="float-end mb-2">
                    <a class="text-right filter_icon pointer" (click)="toggleDatepicker('mission-stats')"
                        *ngIf="!showDatepickerMissionStats">
                        <img src="./assets/icons/filter.png">
                    </a>
                    <div *ngIf="showDatepickerMissionStats" class="datepicker-container">
                        <input type="date" class="form-control" [(ngModel)]="fromDate" placeholder="From">
                        <input type="date" class="form-control" [(ngModel)]="toDate" placeholder="To">
                        <button (click)="toggleDatepicker('mission-stats')" type="button"
                            class="btn btn-outline-primary auth-cancel-outline">
                            {{'common.cancel' | translate}}
                        </button>
                        <button class="btn btn-primary auth-buttons" (click)="search('mission-stats')">{{'common.search'
                            | translate}}</button>
                        <p class="text-danger">{{ dateError }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column text-center mt-2">
                <div class="chart-container flex-grow-1">
                    <div class="no-records-found mt-5 text-center"
                        *ngIf="missionStatsData.projectByCategory?.length == 0">
                        <span>No Records Found ! </span>
                    </div>
                    <canvas id="missionByFunctionChart"></canvas>
                    <h6 class="mt-2">{{'common.missionByFunction' | translate}}</h6>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column text-center mt-2">
                <div class="chart-container flex-grow-1">
                    <div class="no-records-found mt-5 text-center" *ngIf="missionStatsData.projectByMonth?.length == 0">
                        <span>No Records Found ! </span>
                    </div>
                    <canvas id="highNumberMissionsChart"></canvas>
                    <h6 class="mt-2">{{'common.highNumberOfMissioninaMonth' | translate}}</h6>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column text-center mt-2">
                <div class="chart-container flex-grow-1">
                    <div class="no-records-found mt-5 text-center" *ngIf="missionStatsData.projectByClient?.length == 0">
                        <span>No Records Found ! </span>
                    </div>
                    <canvas id="highestPaidClientChart"></canvas>
                    <h6 class="mt-2">{{'common.highestPaidClient' | translate}}</h6>
                </div>
            </div>
        </div>
    </div>



</div>
<!--Container Main end-->