<div class="container-fluid mt-4">
    <div class="row board-cards">
        <div class="col-md-3">
            <div class="card to-do-column" droppable (onDrop)="removeItemTasks($event,'To-Do')">
                <div class="card-header">
                    <i class="bi bi-plus-circle" (click)="addTasks()"></i>
                    To-do
                </div>
                <div class="card-body">
                    <div class="card p-3 task-card" *ngFor="let todo of todoList" draggable [dragData]="todo"
                        (click)="setTaskData(todo)">
                        <div class="task-card-header">
                            <p>
                                {{todo.title}}
                            </p>
                        </div>
                        <div class="task-card-body">
                            <p>
                                <span class="badge bg-primary" *ngIf="todo.priority == 1">
                                    Low
                                </span>
                                <span class="badge bg-warning" *ngIf="todo.priority == 2">
                                    Medium
                                </span>
                                <span class="badge bg-danger" *ngIf="todo.priority == 3">
                                    High
                                </span>
                                <span class="task-hours-spent">
                                    {{todo.actualHours}} hours to spend
                                </span>
                            </p>
                            <p>
                                <span class="task-client">
                                    Client:
                                </span>
                                <span class="task-client-name">
                                    {{projectObj.client}}
                                </span>
                            </p>
                            <p>
                                <span class="task-date">
                                    {{todo.endDate | date : 'MM/dd/yyyy'}}
                                </span>
                                <span class="m_img_thumbnail"
                                    [style.background]="sharedService.getBackgroundColor(todo.member)"
                                    data-bs-toggle="tooltip" tooltip="{{todo.member}}"
                                    [options]="sharedService.toolTipOption">
                                    {{sharedService.getFirstLetter(todo.member)}}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="no-task-list-message" *ngIf="todoList.length == 0">
                        <h5>
                            No task added yet
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-footer column-card-footer pointer">
                <span (click)="addTasks()"> <i class="bi bi-plus-circle"></i>
                    Add Task
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card to-do-column in-progress" droppable (onDrop)="removeItemTasks($event,'In-Progress')">
                <div class="card-header">
                    <i class="bi bi-plus-circle" (click)="addTasks()"></i>
                    In-Progress
                </div>
                <div class="card-body">
                    <div class="card p-3 task-card" *ngFor="let inProgress of inProgressList" draggable
                        [dragData]="inProgress" (click)="setTaskData(inProgress)">
                        <div class="task-card-header">
                            <p>
                                {{inProgress.title}}
                            </p>
                        </div>
                        <div class="task-card-body">
                            <p>
                                <span class="badge bg-primary" *ngIf="inProgress.priority == 1">
                                    Low
                                </span>
                                <span class="badge bg-warning" *ngIf="inProgress.priority == 2">
                                    Medium
                                </span>
                                <span class="badge bg-danger" *ngIf="inProgress.priority == 3">
                                    High
                                </span>
                                <span class="task-hours-spent">
                                    {{inProgress.actualHours}} hours to spend
                                </span>
                            </p>
                            <p>
                                <span class="task-client">
                                    Client:
                                </span>
                                <span class="task-client-name">
                                    {{projectObj.client}}
                                </span>
                            </p>
                            <p>
                                <span class="task-date">
                                    {{inProgress.endDate | date : 'MM/dd/yyyy'}}
                                </span>
                                <span class="m_img_thumbnail"
                                    [style.background]="sharedService.getBackgroundColor(inProgress.member)"
                                    data-bs-toggle="tooltip" tooltip="{{inProgress.member}}"
                                    [options]="sharedService.toolTipOption">
                                    {{sharedService.getFirstLetter(inProgress.member)}}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="no-task-list-message" *ngIf="inProgressList.length == 0">
                        <h5>
                            No task added yet
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-footer column-card-footer pointer">
                <span (click)="addTasks()"> <i class="bi bi-plus-circle"></i>
                    Add Task
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card to-do-column" droppable (onDrop)="removeItemTasks($event,'Complete')">
                <div class="card-header">
                    <i class="bi bi-plus-circle" (click)="addTasks()"></i>
                    Complete
                </div>
                <div class="card-body">
                    <div class="card p-3 task-card" *ngFor="let complete of completeList" draggable
                        [dragData]="complete" (click)="setTaskData(complete)">
                        <div class="task-card-header">
                            <p>
                                {{complete.title}}
                            </p>
                        </div>
                        <div class="task-card-body">
                            <p>
                                <span class="badge bg-primary" *ngIf="complete.priority == 1">
                                    Low
                                </span>
                                <span class="badge bg-warning" *ngIf="complete.priority == 2">
                                    Medium
                                </span>
                                <span class="badge bg-danger" *ngIf="complete.priority == 3">
                                    High
                                </span>
                                <span class="task-hours-spent">
                                    {{complete.actualHours}} hours to spend
                                </span>
                            </p>
                            <p>
                                <span class="task-client">
                                    Client:
                                </span>
                                <span class="task-client-name">
                                    {{projectObj.client}}
                                </span>
                            </p>
                            <p>
                                <span class="task-date">
                                    {{complete.endDate | date : 'MM/dd/yyyy'}}
                                </span>
                                <span class="m_img_thumbnail"
                                    [style.background]="sharedService.getBackgroundColor(complete.member)"
                                    data-bs-toggle="tooltip" tooltip="{{complete.member}}"
                                    [options]="sharedService.toolTipOption">
                                    {{sharedService.getFirstLetter(complete.member)}}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="no-task-list-message" *ngIf="completeList.length == 0">
                        <h5>
                            No task added yet
                        </h5>
                    </div>
                </div>

            </div>
            <div class="card-footer column-card-footer pointer">
                <span (click)="addTasks()"> <i class="bi bi-plus-circle"></i>
                    Add Task
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card to-do-column in-progress" droppable (onDrop)="removeItemTasks($event,'Block')">
                <div class="card-header">
                    <i class="bi bi-plus-circle" (click)="addTasks()"></i>
                    Block
                </div>
                <div class="card-body">
                    <div class="card p-3 task-card" *ngFor="let block of blockedList" draggable [dragData]="block"
                        (click)="setTaskData(block)">
                        <div class="task-card-header">
                            <p>
                                {{block.title}}
                            </p>
                        </div>
                        <div class="task-card-body">
                            <p>
                                <span class="badge bg-primary" *ngIf="block.priority == 1">
                                    Low
                                </span>
                                <span class="badge bg-warning" *ngIf="block.priority == 2">
                                    Medium
                                </span>
                                <span class="badge bg-danger" *ngIf="block.priority == 3">
                                    High
                                </span>
                                <span class="task-hours-spent">
                                    {{block.actualHours}} hours to spend
                                </span>
                            </p>
                            <p>
                                <span class="task-client">
                                    Client:
                                </span>
                                <span class="task-client-name">
                                    {{projectObj.client}}
                                </span>
                            </p>
                            <p>
                                <span class="task-date">
                                    {{block.endDate | date : 'MM/dd/yyyy'}}
                                </span>
                                <span class="m_img_thumbnail"
                                    [style.background]="sharedService.getBackgroundColor(block.member)"
                                    data-bs-toggle="tooltip" tooltip="{{block.member}}"
                                    [options]="sharedService.toolTipOption">
                                    {{sharedService.getFirstLetter(block.member)}}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="no-task-list-message" *ngIf="blockedList.length == 0">
                        <h5>
                            No task added yet
                        </h5>
                    </div>
                </div>

            </div>
            <div class="card-footer column-card-footer pointer">
                <span (click)="addTasks()"> <i class="bi bi-plus-circle"></i>
                    Add Task
                </span>
            </div>
        </div>
    </div>
</div>