<div class="container-fluid mt-4">
    <div class="row board-cards">
        <div class="col-md-3">
            <div class="card to-do-column" droppable (onDrop)="removeItemTasks($event,'To-Do')">
                <div class="card-header">
                    <i class="bi bi-plus-circle"></i>
                    To-do
                </div>
                <div class="card-body">
                    <div class="card p-3 task-card" *ngFor="let todo of todoList" draggable [dragData]="todo">
                        <div class="task-card-header">
                            <p>
                                {{todo.title}}
                            </p>
                        </div>
                        <div class="task-card-body">
                            <p>
                                <span class="badge bg-primary" *ngIf="todo.priority == 1">
                                    Low
                                </span>
                                <span class="badge bg-warning" *ngIf="todo.priority == 2">
                                    Medium
                                </span>
                                <span class="badge bg-danger" *ngIf="todo.priority == 3">
                                    High
                                </span>
                                <span class="task-hours-spent">
                                    {{todo.hoursToSpend}} hours to spend
                                </span>
                            </p>
                            <p>
                                <span class="task-client">
                                    Client:
                                </span>
                                <span class="task-client-name">
                                    {{projectObj.client}}
                                </span>
                            </p>
                            <p>
                                <span class="task-date">
                                    {{todo.endDate | date : 'MM/dd/yyyy'}}
                                </span>
                                <span class="m_img_thumbnail"
                                    [style.background]="sharedService.getBackgroundColor(todo.member)"
                                    data-bs-toggle="tooltip" [title]="todo.member">
                                    {{sharedService.getFirstLetter(todo.member)}}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="no-task-list-message" *ngIf="todoList.length == 0">
                        <h5>
                            No task added yet
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-footer column-card-footer">
                <span> <i class="bi bi-plus-circle"></i>
                    Add Task
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card to-do-column in-progress" droppable (onDrop)="removeItemTasks($event,'In-Progress')">
                <div class="card-header">
                    <i class="bi bi-plus-circle"></i>
                    In-Progress
                </div>
                <div class="card-body">
                    <div class="card p-3 task-card" *ngFor="let inProgress of inProgressList" draggable
                        [dragData]="inProgress">
                        <div class="task-card-header">
                            <p>
                                {{inProgress.title}}
                            </p>
                        </div>
                        <div class="task-card-body">
                            <p>
                                <span class="badge bg-primary" *ngIf="inProgress.priority == 1">
                                    Low
                                </span>
                                <span class="badge bg-warning" *ngIf="inProgress.priority == 2">
                                    Medium
                                </span>
                                <span class="badge bg-danger" *ngIf="inProgress.priority == 3">
                                    High
                                </span>
                                <span class="task-hours-spent">
                                    {{inProgress.hoursToSpend}} hours to spend
                                </span>
                            </p>
                            <p>
                                <span class="task-client">
                                    Client:
                                </span>
                                <span class="task-client-name">
                                    {{projectObj.client}}
                                </span>
                            </p>
                            <p>
                                <span class="task-date">
                                    {{inProgress.endDate | date : 'MM/dd/yyyy'}}
                                </span>
                                <span class="m_img_thumbnail"
                                    [style.background]="sharedService.getBackgroundColor(inProgress.member)"
                                    data-bs-toggle="tooltip" [title]="inProgress.member">
                                    {{sharedService.getFirstLetter(inProgress.member)}}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="no-task-list-message" *ngIf="inProgressList.length == 0">
                        <h5>
                            No task added yet
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-footer column-card-footer">
                <span> <i class="bi bi-plus-circle"></i>
                    Add Task
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card to-do-column" droppable (onDrop)="removeItemTasks($event,'Complete')">
                <div class="card-header">
                    <i class="bi bi-plus-circle"></i>
                    Complete
                </div>
                <div class="card-body">
                    <div class="card p-3 task-card" *ngFor="let complete of completeList" draggable
                        [dragData]="complete">
                        <div class="task-card-header">
                            <p>
                                {{complete.title}}
                            </p>
                        </div>
                        <div class="task-card-body">
                            <p>
                                <span class="badge bg-primary" *ngIf="complete.priority == 1">
                                    Low
                                </span>
                                <span class="badge bg-warning" *ngIf="complete.priority == 2">
                                    Medium
                                </span>
                                <span class="badge bg-danger" *ngIf="complete.priority == 3">
                                    High
                                </span>
                                <span class="task-hours-spent">
                                    {{complete.hoursToSpend}} hours to spend
                                </span>
                            </p>
                            <p>
                                <span class="task-client">
                                    Client:
                                </span>
                                <span class="task-client-name">
                                    {{projectObj.client}}
                                </span>
                            </p>
                            <p>
                                <span class="task-date">
                                    {{complete.endDate | date : 'MM/dd/yyyy'}}
                                </span>
                                <span class="m_img_thumbnail"
                                    [style.background]="sharedService.getBackgroundColor(complete.member)"
                                    data-bs-toggle="tooltip" [title]="complete.member">
                                    {{sharedService.getFirstLetter(complete.member)}}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="no-task-list-message" *ngIf="completeList.length == 0">
                        <h5>
                            No task added yet
                        </h5>
                    </div>
                </div>

            </div>
            <div class="card-footer column-card-footer">
                <span> <i class="bi bi-plus-circle"></i>
                    Add Task
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card to-do-column in-progress" droppable (onDrop)="removeItemTasks($event,'Block')">
                <div class="card-header">
                    <i class="bi bi-plus-circle"></i>
                    Block
                </div>
                <div class="card-body">
                    <div class="card p-3 task-card" *ngFor="let block of blockedList" draggable [dragData]="block">
                        <div class="task-card-header">
                            <p>
                                {{block.title}}
                            </p>
                        </div>
                        <div class="task-card-body">
                            <p>
                                <span class="badge bg-primary" *ngIf="block.priority == 1">
                                    Low
                                </span>
                                <span class="badge bg-warning" *ngIf="block.priority == 2">
                                    Medium
                                </span>
                                <span class="badge bg-danger" *ngIf="block.priority == 3">
                                    High
                                </span>
                                <span class="task-hours-spent">
                                    {{block.hoursToSpend}} hours to spend
                                </span>
                            </p>
                            <p>
                                <span class="task-client">
                                    Client:
                                </span>
                                <span class="task-client-name">
                                    {{projectObj.client}}
                                </span>
                            </p>
                            <p>
                                <span class="task-date">
                                    {{block.endDate | date : 'MM/dd/yyyy'}}
                                </span>
                                <span class="m_img_thumbnail"
                                    [style.background]="sharedService.getBackgroundColor(block.member)"
                                    data-bs-toggle="tooltip" [title]="block.member">
                                    {{sharedService.getFirstLetter(block.member)}}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="no-task-list-message" *ngIf="blockedList.length == 0">
                        <h5>
                            No task added yet
                        </h5>
                    </div>
                </div>

            </div>
            <div class="card-footer column-card-footer">
                <span> <i class="bi bi-plus-circle"></i>
                    Add Task
                </span>
            </div>
        </div>
    </div>
</div>