<a class="cr_mission">
    <button class="btn btn-primary auth-buttons" (click)="sidebarOpenClose()">
        Add Client
    </button>
</a>
<!--Filter Code-->
<div class="sideFormFields card mb-3" [ngClass]="{'ShowFields' : isSidebarOpenClose}">
    <div class="card-header">
        <span> {{isEditing == true ? 'Edit' : 'Add'}} Client </span>
        <button class="btn" aria-label="Close" (click)="sidebarOpenClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
        <div class="card-body">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <input type="text" placeholder="Name" class="form-control" id="name" formControlName="name"
                            required>
                        <h6 class="error-message">
                            <span *ngIf="myForm.get('name').invalid && myForm.get('name').touched" class="text-danger">
                                Name is required
                            </span>
                        </h6>
                    </div>
                    <div class="col-md-12 mb-4">
                        <textarea class="form-control" placeholder="Address" rows="5" cols="33"
                            aria-label="With textarea" formControlName="address" required>
                        </textarea>
                        <h6 class="error-message">
                            <span *ngIf="myForm.get('address').invalid && myForm.get('address').touched"
                                class="text-danger">
                                Address is required
                            </span>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <input type="number" placeholder="Person of Contact Number" class="form-control" id="contact"
                            formControlName="contact" required>
                        <h6 class="error-message">
                            <span *ngIf="myForm.get('contact').invalid && myForm.get('contact').touched"
                                class="text-danger">Person of Contact Number is required</span>
                        </h6>
                    </div>

                    <div class="col-md-12 mb-4">
                        <input type="tel" placeholder="Telephone" class="form-control" id="telephone"
                            formControlName="telephone" required>
                        <h6 class="error-message">
                            <span *ngIf="myForm.get('telephone').invalid && myForm.get('telephone').touched"
                                class="text-danger">Telephone is required</span>
                        </h6>
                    </div>

                    <div class="col-md-12 mb-4">
                        <input type="email" placeholder="Email Address" class="form-control" id="email"
                            formControlName="email" required>
                        <h6 class="error-message">
                            <span *ngIf="myForm.get('email').invalid && myForm.get('email').touched"
                                class="text-danger">
                                Valid Email Address is required</span>
                        </h6>
                    </div>

                </div>
            </div>

        </div>
        <div class="card-footer text-end">
            <button (click)="sidebarOpenClose()" class="btn btn-outline-primary auth-cancel-outline">
                Cancel
            </button>
            <button class="btn btn-primary auth-buttons" type="submit">
                {{isEditing == true ? 'Edit' : 'Add'}} Client
            </button>
        </div>
    </form>

</div>