<div class="row">
    <div class="col-md-8 col-sm-12 col-12">
        <div class="description mt-4">
            <h5>
                {{'common.description' | translate}}
            </h5>

            <p>
                {{dataFromParent.description}}
            </p>

            <h5 class="mt-5">
                {{'common.projectRole' | translate}}
                <i class="bi bi-plus-circle" routerLink="/dashboard/missions/mission-roles/"></i>
            </h5>

            <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="project-role-list">
                        <span class="m_img_thumbnail"
                            [style.background]="sharedService.getBackgroundColor(dataFromParent.teamLead)">
                            {{sharedService.getFirstLetter(dataFromParent.teamLead)}}</span>
                        <div class="user-details">
                            <h5>{{dataFromParent.teamLead}}</h5>
                            <h6>{{dataFromParent.designation}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12" *ngFor="let role of projectRoleLists">
                    <div class="project-role-list">
                        <span class="m_img_thumbnail"
                            [style.background]="sharedService.getBackgroundColor(role.member)">{{
                            sharedService.getFirstLetter(role.member)
                            }}</span>
                        <div class="user-details">
                            <h5>{{role.member}}</h5>
                            <h6>{{role.designation}}</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h5 class="mt-5">
                    {{'common.attachments' | translate}}
                    <app-attechments (onClose)="handleChildComponentClose()" [from]="'project'"></app-attechments>
                </h5>
                <div class="col-md-3 col-sm-6 col-12" *ngFor="let data of projectDocumentLists">
                    <ol class="list-group ">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <i class="bi bi-file-earmark"></i> {{data.name}}
                            <i class="bi bi-eye-fill" tooltip="View" (click)="viewDocuments(data)"></i>
                            <span class="badge  rounded-pill">
                                <i class="bi bi-x-circle" tooltip="Remove" (click)="removeDocument(data)"></i>
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="attachments-lists mt-4">
                    <div class="no-records-found" *ngIf="projectDocumentLists.length == 0">
                        <span>No Attachments Found ! </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 right-side-section col-12 col-sm-6">
        <div class="other-details m-4">
            <div class="description mt-4">
                <h5>
                    {{'common.description' | translate}}
                </h5>
                <div class="row mt-3">
                    <div class="col-md-8 col-12 col-sm-6">
                        <div class="dropdown">
                            <button class="btn custom-dropdown" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span *ngIf="dataFromParent.status == 1">
                                    <i class="bi bi-dot to-do-dot"></i>
                                    Not-Started
                                </span>
                                <span *ngIf="dataFromParent.status == 2">
                                    <i class="bi bi-dot in-progress-dot"></i>
                                    In-Progress
                                </span>
                                <span *ngIf="dataFromParent.status == 3">
                                    <i class="bi bi-dot complete-dot"></i>
                                    Complete
                                </span>
                                <i class="bi bi-chevron-down"></i>
                            </button>

                            <ul [id]="'dropdownMenu' + dataFromParent.title" class="dropdown-menu dropdown-menu-custom"
                                [attr.aria-labelledby]="'dropdownMenuButton' + dataFromParent.title">
                                <li *ngFor="let status of ['Not-Started', 'In-Progress', 'Complete']">
                                    <a class="dropdown-item" (click)="updateProjectStatus(dataFromParent, status)">
                                        <i class="bi bi-dot" [ngClass]="getDotClass(status)"></i>
                                        {{ status }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p class="last-updated-name">
                            {{'common.lastChangedBy' | translate}}: <span> {{dataFromParent.client}} </span>
                        </p>
                    </div>
                    <div class="col-md-4 description-md-4 col-12 col-sm-6">
                        <h6>
                            {{'common.lastChanged' | translate}}
                        </h6>
                        <p>
                            12/2/2022 9:21 PM
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 col-12 col-sm-6">
                        <div class="project-role-list">
                            <i class="bi bi-calendar-date"></i>
                            <div class="startdate-enddate">
                                <h5>{{dataFromParent.startDate |date: 'M/d/yy'}}</h5>
                                <span> {{'common.startDate' | translate}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 col-sm-6">
                        <hr>
                    </div>
                    <div class="col-md-4 col-12 col-sm-6">
                        <div class="project-role-list-endDate">
                            <i class="bi bi-calendar-date"></i>
                            <div class="startdate-enddate">
                                <h5>{{dataFromParent.endDate |date: 'M/d/yy'}}</h5>
                                <span> {{'common.endDate' | translate}} </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-4 col-12 col-sm-6">
                        <div class="project-role-list">
                            <i class="bi bi-clock"></i>
                            <div class="startdate-enddate">
                                <h5>103</h5>
                                <span> {{'common.totalHoursSpent' | translate}} </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12 col-12 col-sm-6 latest-activity">
                        <h6>
                            {{'common.latestActivityOnThisProject' | translate}}
                        </h6>
                        <div class="comment-section">
                            <div class="comment" *ngFor="let activity of activityList">
                                <div class="profile-photo">
                                    <!-- <img class="user-image-activity" src="./assets/Images/andrew.png"> -->
                                    <span class="m_img_thumbnail user-image-activity"
                                        [style.background]="sharedService.getBackgroundColor(activity.user)">{{
                                        sharedService.getFirstLetter(activity.user)
                                        }}</span>
                                </div>
                                <div class="user-details">
                                    <div class="comment-description">
                                        {{activity.message == null ? 'N/A' : activity.message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirmation-modal (onClose)="onCloseConfirmationModal($event)" [isOpen]="isConfirmationModalOpen"
    [title]="modalTitle" [message]="modalMessage"></app-confirmation-modal>