@media screen and (max-width: 767px) {
  .main_login.height-vh {
    height: auto;
  }
  .height-vh {
    height: auto;
  }
  .main_login.height-vh .login_bg.h-100 {
    height: auto !important;
  }
  .l_text_center {
    width: 80%;
  }
  .l_text_center h2 {
    margin-top: 30px;
  }
  .login_form.h-100 {
    padding: 30px;
  }
  .form_sign {
    width: auto;
  }
  .auth-buttons {
    width: 100%;
  }
  .main-content {
    margin-left: 114px !important;
  }
  .sidenavMenusresponsive span {
    display: none;
  }
  .sidenavMenusresponsive img {
    margin-left: 15px;
  }
  .nav_logo .nav_logo-icon {
    display: none;
  }
  .nav_logo {
    padding-left: 15px !important;
  }

  .right-arrow {
    display: none;
  }
}

/* Css code for flter responsive */
@media (max-width: 574px) {
  .sideFormFields {
    width: 100%;
  }
}
