<!--Container Main start-->
<div class="p-3">
    <div class="top_header float-start w-100">
        <div class="screen-heading">
            <h3 class="float-start mb-0">
                <i class="bi bi-arrow-left-circle" routerLink="/dashboard/missions/mission-detail/"></i>
                {{taskData.title}}
            </h3>
            <br>
            <br>
            <div class="breadcrumb">
                <a routerLink="/dashboard/missions/">
                    {{'common.mission' | translate}}
                </a> &nbsp; &gt; &nbsp;
                <a routerLink="/dashboard/missions/mission-detail/">
                    {{projectObj.title}}
                </a> &nbsp; &gt; &nbsp;
                <span>{{'common.tasks' | translate}}</span>
            </div>
        </div>
    </div>
    <div class="Container container-main p-0">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="description mt-4">
                    <h5>
                        {{'common.description' | translate}}
                    </h5>
                    <p>
                        {{taskData.description}}
                    </p>
                    <!-- <h5 class="mt-5">
                        {{'common.attachments' | translate}} <app-attechments (onClose)="handleChildComponentClose()"
                            [from]="'projectTask'"></app-attechments>
                    </h5>
                    <div class="attachments-lists mt-4">
                        <div class="no-records-found" *ngIf="projectTaskDocumentLists.length == 0">
                            <span>No Attachments Found ! </span>
                        </div>
                        <ng-container *ngFor="let data of projectTaskDocumentLists">
                            <span>
                                <i class="bi bi-file-earmark"></i> {{data.name}}
                                <i class="bi bi-eye-fill" tooltip="View" (click)="viewDocuments(data)"></i>
                                <i class="bi bi-x-circle" tooltip="Remove" (click)="removeDocument(data)"></i>
                            </span>
                        </ng-container>
                    </div> -->
                    <div class="row">
                        <h5 class="mt-5">
                            {{'common.attachments' | translate}}
                            <app-attechments (onClose)="handleChildComponentClose()"
                                [from]="'projectTask'"></app-attechments>
                        </h5>
                        <div class="col-md-3 col-sm-6 col-12" *ngFor="let data of projectTaskDocumentLists">
                            <ol class="list-group ">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <i class="bi bi-file-earmark"></i> {{data.name}}
                                    <i class="bi bi-eye-fill" tooltip="View" (click)="viewDocuments(data)"></i>
                                    <span class="badge  rounded-pill">
                                        <i class="bi bi-x-circle" tooltip="Remove" (click)="removeDocument(data)"></i>
                                    </span>
                                </li>
                            </ol>
                        </div>
                        <div class="attachments-lists mt-4">
                            <div class="no-records-found" *ngIf="projectTaskDocumentLists.length == 0">
                                <span>No Attachments Found ! </span>
                            </div>
                        </div>
                    </div>

                    <h5 class="mt-5">
                        {{'common.comments' | translate}}
                    </h5>

                    <div class="comment-section">
                        <div class="comment">
                            <div class="profile-photo">
                                <img class="user-image" src="./assets/Images/andrew.png">
                            </div>
                            <div class="user-details">
                                <textarea class="form-control"
                                    placeholder=" {{'common.typeYourCommentHere' | translate}}..." width="100" rows="4"
                                    cols="100" (keydown.enter)="onEnterPressed($event)"></textarea>
                                <div class="comment-description">{{'common.pleaseEnterToAddCommnet' | translate}}</div>
                            </div>

                        </div>

                        <div class="comment" *ngFor="let data of projectTaskCommentLists">
                            <div class="profile-photo">
                                <span class="m_img_thumbnail"
                                    [style.background]="sharedService.getBackgroundColor(data.user)">
                                    {{sharedService.getFirstLetter(data.user)}}</span>
                                <!-- <img class="user-image" src="./assets/Images/andrew.png"> -->
                            </div>
                            <div class="user-details">
                                <div class="user-name">
                                    {{data.user}}
                                    <span class="time">
                                        {{sharedService.timeAgo(data.createdDate)}}
                                    </span>
                                </div>
                                <div class="comment-description">
                                    {{data.comment}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 right-side-section">
                <div class="other-details m-4">
                    <div class="description mt-4">
                        <div class="row mt-3">
                            <div class="col-md-8">
                                <div class="dropdown">
                                    <button class="btn custom-dropdown" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <span *ngIf="taskData.status == 1">
                                            <i class="bi bi-dot to-do-dot"></i>
                                            To-Do
                                        </span>
                                        <span *ngIf="taskData.status == 2">
                                            <i class="bi bi-dot in-progress-dot"></i>
                                            In-Progress
                                        </span>
                                        <span *ngIf="taskData.status == 3">
                                            <i class="bi bi-dot complete-dot"></i>
                                            Complete
                                        </span>
                                        <span *ngIf="taskData.status == 4">
                                            <i class="bi bi-dot block-dot"></i>
                                            Block
                                        </span>
                                        <i class="bi bi-chevron-down"></i>
                                    </button>

                                    <ul [id]="'dropdownMenu' + taskData.title"
                                        class="dropdown-menu dropdown-menu-custom"
                                        [attr.aria-labelledby]="'dropdownMenuButton' + taskData.title">
                                        <li *ngFor="let status of ['To-Do', 'In-Progress', 'Complete', 'Block']">
                                            <a class="dropdown-item" (click)="updateTaskProgress(taskData, status)">
                                                <i class="bi bi-dot" [ngClass]="getDotClass(status)"></i>
                                                {{ status }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <p class="last-updated-name">
                                    {{'common.lastChangedBy' | translate}}: <span>Samuel Bravo </span>
                                </p>
                            </div>
                            <div class="col-md-4 description-md-4">
                                <h6>
                                    {{'common.lastChanged' | translate}}
                                </h6>
                                <p>
                                    12/2/2022 9:21 PM
                                </p>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-3 lables">
                                <p>{{'common.assignee' | translate}}</p>
                                <p>{{'common.category' | translate}}</p>
                                <p>{{'common.hoursSpend' | translate}}</p>
                                <p>{{'common.priority' | translate}}</p>
                                <p>{{'common.dueDate' | translate}}</p>
                            </div>
                            <div class="col-md-9 values">
                                <p>{{taskData.member}}</p>
                                <p>{{taskData.projectTaskCategory}}</p>
                                <p>{{taskData.actualHours}}</p>
                                <p>
                                    <span class="badge bg-primary" *ngIf="taskData.priority == 1">
                                        Low
                                    </span>
                                    <span class="badge bg-warning" *ngIf="taskData.priority == 2">
                                        Medium
                                    </span>
                                    <span class="badge bg-danger" *ngIf="taskData.priority == 3">
                                        High
                                    </span>
                                </p>
                                <p>{{taskData.endDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Container Main end-->

<app-confirmation-modal (onClose)="onCloseConfirmationModal($event)" [isOpen]="isConfirmationModalOpen"
    [title]="modalTitle" [message]="modalMessage"></app-confirmation-modal>