.sidenavChange {
  margin-left: 114px !important;
}
.nav-logo-small {
  padding: 10px !important;
}
.sidenavMenus span {
  display: none;
}

.sidenavMenus img {
  margin-left: 15px;
}
.exit_arrow {
  position: absolute;
  left: 23px;
  bottom: 20px;
}
.content-wrapper {
  padding-right: 0px !important;
}
