<div class="modal fade" [ngClass]="{'show': isOpenFilter}" [style.display]="isOpenFilter ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered filter-modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <h5>
                        {{'common.filterBy' | translate}}
                    </h5>
                    <div class="col-md-12 mt-4">
                        <div class="dropdown">
                            <button class="btn" type="button" width="100%" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>
                                    {{ selectedClient?.name ? selectedClient?.name : 'common.clientName' | translate}}
                                </span>
                                <i class="bi bi-chevron-down"></i>
                            </button>

                            <ul class="dropdown-menu">
                                <li *ngFor="let client of clientList">
                                    <a class="dropdown-item" (click)="selectedClient = client"
                                        [ngClass]="{'active':selectedClient == client.name}">
                                        {{ client.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="dropdown">
                            <button class="btn" type="button" width="100%" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>
                                    {{selectedStatus ? selectedStatus :'common.status' | translate}}
                                </span>
                                <i class="bi bi-chevron-down"></i>
                            </button>

                            <ul class="dropdown-menu">
                                <li *ngFor="let status of ['Not-Started','In-Progress','Completed']">
                                    <a class="dropdown-item" (click)="selectedStatus = status"
                                        [ngClass]="{'active':selectedStatus == status}">
                                        {{ status }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="dropdown">
                            <button class="btn" type="button" width="100%" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>
                                    {{ selectedMember?.name ? selectedMember?.name : 'common.members' | translate}}
                                </span>
                                <i class="bi bi-chevron-down"></i>
                            </button>

                            <ul class="dropdown-menu">
                                <li *ngFor="let member of memberList">
                                    <a class="dropdown-item" (click)="selectedMember = member"
                                        [ngClass]="{'active':selectedMember == member.name}">
                                        {{ member.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="onCancel()" type="submit" class="btn btn-outline-primary auth-cancel-outline">
                    {{'common.clear' | translate}}
                </button>
                <button (click)="onConfirm()" type="submit" class="btn btn-primary auth-cancel-outline">
                    {{'common.applyFilter' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>