<div class="modal fade" [ngClass]="{'show': isOpenFilter}" [style.display]="isOpenFilter ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered filter-modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <h5>
                        Filter By
                    </h5>
                    <div class="col-md-12 mt-4">
                        <div class="dropdown">
                            <button class="btn" type="button" width="100%" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>
                                    Client Name
                                </span>
                                <i class="bi bi-chevron-down"></i>
                            </button>

                            <ul class="dropdown-menu">
                                <li *ngFor="let client of clientList">
                                    <a class="dropdown-item">
                                        {{ client.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="dropdown">
                            <button class="btn" type="button" width="100%" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>
                                    Status
                                </span>
                                <i class="bi bi-chevron-down"></i>
                            </button>

                            <ul class="dropdown-menu">
                                <li *ngFor="let status of ['Not-Started','In-Progress','Completed']">
                                    <a class="dropdown-item">
                                        {{ status }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="dropdown">
                            <button class="btn" type="button" width="100%" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span>
                                    Member
                                </span>
                                <i class="bi bi-chevron-down"></i>
                            </button>

                            <ul class="dropdown-menu">
                                <li *ngFor="let member of memberList">
                                    <a class="dropdown-item">
                                        {{ member.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="onCancel()" class="btn btn-outline-primary auth-cancel-outline">
                    Cancel
                </button>
                <button (click)="onConfirm()" class="btn btn-primary auth-cancel-outline">
                    Apply Filter
                </button>
            </div>
        </div>
    </div>
</div>