.mission-tasks-table thead tr th {
  background: white !important;
}

.mission-tasks-table thead tr .planning {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.mission-tasks-table thead tr th {
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #53575c;
}

.borderless td,
.borderless th {
  border: none;
}

tbody tr {
  border: 1px solid #d6d6d6;
  border-radius: 4px !important;
}

tbody tr td {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

tbody h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-left: 15px;
}
.bi-chevron-down {
  font-size: 20px !important;
  vertical-align: middle;
}
.bi-dot {
  font-weight: bold;
  font-size: 18px;
  vertical-align: initial;
}

.badge {
  border-radius: 32px;
}
.bg-warning {
  background: #d08411 !important;
}
.bg-primary {
  background: #2d8ce4 !important;
}
.bg-danger {
  background: #d71111 !important;
}
