<div class="main_login height-vh">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-xs-12 p-0 ">
                <div class="login_bg h-100">
                    <div class="l_logo"><a href="login.html"><img src="./assets/Images/logo.png"
                                class="img-responsive" /></a></div>
                    <div class="w-100 d-flex align-items-center justify-content-center h-75">
                        <div class="l_text_center">
                            <h2 class="mb-3">Your main heading goes here</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and
                                scrambled it to make a type specimen book</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xs-12 p-0 height-vh ">
                <div class="login_form h-100">
                    <div class="w-100 d-flex align-items-center justify-content-center h-100">
                        <div class="form_sign">
                            <h2>Reset Password</h2>
                            <p>Enter your new password</p>
                            <form action="#">
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="pwd" placeholder="New password"
                                        name="pswd">
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="pwd" placeholder="Re-Enter password"
                                        name="pswd">
                                </div>
                                <a class="btn btn-primary col-xl-12">Confirm</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>