<!--Container Main start-->
<div class="p-3">
    <div class="top_header float-start w-100">
        <div class="screen-heading">
            <h3 class="float-start">
                <i class="bi bi-arrow-left-circle" routerLink="/dashboard/missions"></i> {{projectObj.title}}
            </h3>
        </div>
        <div class="top_action float-end">
            <ul *ngIf="previousTab != 'Overview-tab'">
                <li>
                    <ng-container *ngIf="projectObj.members.length > 0">
                        <span *ngFor="let member of projectObj.members.slice(0, 3)" class="m_img_thumbnail"
                            [style.background]="sharedService.getBackgroundColor(member)" data-bs-toggle="tooltip"
                            tooltip="{{member}}" [options]="sharedService.toolTipOption">
                            {{sharedService.getFirstLetter(member)}}
                        </span>
                    </ng-container>
                    <!-- Show a count of the remaining members if more than 3 -->
                    <span *ngIf="projectObj.members.length > 3" class="m_img_thumbnail" data-bs-toggle="tooltip"
                        tooltip="{{projectObj.members.length - 3 + ' more'}}" [options]="sharedService.toolTipOption">
                        +{{ projectObj.members.length - 3 }}
                    </span>
                </li>
                <li *ngIf="previousTab != 'Timeline-tab'">
                    <a class="m_slider">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <li *ngIf="previousTab != 'Timeline-tab'">
                    <app-add (onClose)="handleChildComponentClose()" [from]="'detail'"></app-add>
                </li>
            </ul>
        </div>
    </div>

    <div class="Container p-0">
        <div class="row p-0">
            <div class="col-md-12 mt-5">
                <ul class="nav nav-tabs" id="myTab" #myTabs role="tablist" (click)="tabClick($event)">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" [ngClass]="{ 'active': previousTab === 'Overview-tab' }"
                            data-tab="Overview-tab" id="Overview-tab" data-bs-toggle="tab" data-bs-target="#Overview"
                            type="button" role="tab" aria-controls="Overview" aria-selected="true">
                            {{'common.overView' | translate}}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [ngClass]="{ 'active': previousTab === 'Tasks-tab' }"
                            data-tab="Tasks-tab" id="Tasks-tab" data-bs-toggle="tab" data-bs-target="#Tasks"
                            type="button" role="tab" aria-controls="Tasks" aria-selected="false">
                            {{'common.tasks' | translate}}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [ngClass]="{ 'active': previousTab === 'Board-tab' }" id="Board-tab"
                            data-tab="Board-tab" data-bs-toggle="tab" data-bs-target="#Board" type="button" role="tab"
                            aria-controls="Board" aria-selected="false">
                            {{'common.board' | translate}}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [ngClass]="{ 'active': previousTab === 'Timeline-tab' }"
                            id="Timeline-tab" data-tab="Timeline-tab" data-bs-toggle="tab" data-bs-target="#Timeline"
                            type="button" role="tab" aria-controls="Timeline" aria-selected="false">
                            {{'common.timeline' | translate}}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [ngClass]="{ 'active': previousTab === 'Expense-tab' }"
                            id="Expense-tab" data-tab="Expense-tab" data-bs-toggle="tab" data-bs-target="#Expense"
                            type="button" role="tab" aria-controls="Expense" aria-selected="false">
                            {{'common.expense' | translate}}
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" *ngIf="previousTab === 'Overview-tab'"
                        [ngClass]="{ 'show active': previousTab === 'Overview-tab' }" id="Overview" role="tabpanel"
                        aria-labelledby="Overview-tab">
                        <app-overview [dataFromParent]="projectObj"></app-overview>
                    </div>
                    <div class="tab-pane fade" *ngIf="previousTab === 'Tasks-tab'"
                        [ngClass]="{ 'show active': previousTab === 'Tasks-tab' }" id="Tasks" role="tabpanel"
                        aria-labelledby="Tasks-tab">
                        <app-tasks></app-tasks>
                    </div>
                    <div class="tab-pane fade" *ngIf="previousTab === 'Board-tab'"
                        [ngClass]="{ 'show active': previousTab === 'Board-tab' }" id="Board" role="tabpanel"
                        aria-labelledby="Board-tab">
                        <app-board></app-board>
                    </div>
                    <div class="tab-pane fade" *ngIf="previousTab === 'Timeline-tab'"
                        [ngClass]="{ 'show active': previousTab === 'Timeline-tab' }" id="Timeline" role="tabpanel"
                        aria-labelledby="Timeline-tab">
                        <app-timeline></app-timeline>
                    </div>
                    <div class="tab-pane fade" *ngIf="previousTab === 'Expense-tab'"
                        [ngClass]="{ 'show active': previousTab === 'Expense-tab' }" id="Expense" role="tabpanel"
                        aria-labelledby="Expense-tab">
                        <app-expense></app-expense>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Container Main end-->