.bi-arrow-left-circle,
.bi-plus-circle {
  font-size: 30px;
  color: #0044aa;
}
.nav-tabs > li {
  float: none;
  display: inline-block;
}

.nav-tabs .nav-link.active {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #0044aa;
  border: 0;
  border-bottom: 3px solid #0044aa;
}

.nav-tabs .nav-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #53575c;
}
.top_action ul li {
  vertical-align: top;
}
.m_img_thumbnail {
  width: 50px;
  height: 50px;
  line-height: 48px;
  margin-left: -14px !important;
}
