<!--Container Main start-->
<div class="p-3">
    <div class="top_header float-start w-100">
        <div class="screen-heading">
            <h3 class="float-start">
                <i class="bi bi-arrow-left-circle"></i> Mission
            </h3>
        </div>
    </div>

    <div class="Container p-0">
        <div class="row p-0">
            <div class="col-md-12 mt-5">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="Overview-tab" data-bs-toggle="tab"
                            data-bs-target="#Overview" type="button" role="tab" aria-controls="Overview"
                            aria-selected="true">
                            Overview
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Tasks-tab" data-bs-toggle="tab" data-bs-target="#Tasks"
                            type="button" role="tab" aria-controls="Tasks" aria-selected="false">
                            Tasks
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Board-tab" data-bs-toggle="tab" data-bs-target="#Board"
                            type="button" role="tab" aria-controls="Board" aria-selected="false">
                            Board
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Timeline-tab" data-bs-toggle="tab" data-bs-target="#Timeline"
                            type="button" role="tab" aria-controls="Timeline" aria-selected="false">
                            Timeline
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Overview" role="tabpanel" aria-labelledby="Overview-tab">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="description mt-4">
                                    <h5>
                                        Description
                                    </h5>

                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book. It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged.
                                    </p>

                                    <h5 class="mt-5">
                                        Project Roles <i class="bi bi-plus-circle"></i>
                                    </h5>

                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="project-role-list">
                                                <img class="user-image" src="./assets/Images/andrew.png">
                                                <div class="user-details">
                                                    <h5>Sarah Johns</h5>
                                                    <h6>Team Lead</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="project-role-list">
                                                <img class="user-image" src="./assets/Images/andrew.png">
                                                <div class="user-details">
                                                    <h5>Sarah Johns</h5>
                                                    <h6>Team Lead</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="project-role-list">
                                                <img class="user-image" src="./assets/Images/andrew.png">
                                                <div class="user-details">
                                                    <h5>Sarah Johns</h5>
                                                    <h6>Team Lead</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="project-role-list">
                                                <img class="user-image" src="./assets/Images/andrew.png">
                                                <div class="user-details">
                                                    <h5>Sarah Johns</h5>
                                                    <h6>Team Lead</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="project-role-list">
                                                <img class="user-image" src="./assets/Images/andrew.png">
                                                <div class="user-details">
                                                    <h5>Sarah Johns</h5>
                                                    <h6>Team Lead</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="project-role-list">
                                                <img class="user-image" src="./assets/Images/andrew.png">
                                                <div class="user-details">
                                                    <h5>Sarah Johns</h5>
                                                    <h6>Team Lead</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="project-role-list">
                                                <img class="user-image" src="./assets/Images/andrew.png">
                                                <div class="user-details">
                                                    <h5>Sarah Johns</h5>
                                                    <h6>Team Lead</h6>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                    <h5 class="mt-5">
                                        Attachments <i class="bi bi-plus-circle"></i>
                                    </h5>

                                    <div class="attachments-lists mt-4">
                                        <span>
                                            <i class="bi bi-file-earmark"></i> Logo Brief.docx
                                        </span>
                                        <span>
                                            <i class="bi bi-file-earmark"></i> Logo Brief.docx
                                        </span>
                                        <span>
                                            <i class="bi bi-file-earmark"></i> Logo Brief.docx
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 right-side-section">
                                <div class="other-details m-4">
                                    <div class="description mt-4">
                                        <h5>
                                            Description
                                        </h5>

                                        <div class="row mt-3">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <select class="form-control" name="cars" id="cars">
                                                        <option value="volvo">Volvo</option>
                                                        <option value="saab">Saab</option>
                                                        <option value="mercedes">Mercedes</option>
                                                        <option value="audi">Audi</option>
                                                    </select>
                                                </div>
                                                <p class="last-updated-name">
                                                    Last Changed by: <span>Samuel Bravo </span>
                                                </p>
                                            </div>
                                            <div class="col-md-4 description-md-4">
                                                <h6>
                                                    Last Changed
                                                </h6>
                                                <p>
                                                    12/2/2022 9:21 PM
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-md-4">
                                                <i class="bi bi-calendar-date"></i>

                                                <p>
                                                    12/2/2022 <br>
                                                    <span>
                                                        sdfdsf
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Tasks" role="tabpanel" aria-labelledby="Tasks-tab">...</div>
                    <div class="tab-pane fade" id="Board" role="tabpanel" aria-labelledby="Board-tab">...</div>
                    <div class="tab-pane fade" id="Timeline" role="tabpanel" aria-labelledby="Timeline-tab">...</div>

                </div>

            </div>
        </div>
    </div>
</div>
<!--Container Main end-->