<!--Container Main start-->
<div class="p-3">
    <div class="top_header float-start w-100">
        <div class="screen-heading">
            <h3 class="float-start">
                <i class="bi bi-arrow-left-circle" routerLink="/dashboard/missions"></i> {{projectObj.title}}
            </h3>
        </div>
        <div class="top_action float-end">
            <ul *ngIf="clickedTab != 'Overview-tab'">
                <li>
                    <span class="m_img_thumbnail blue_thumb_color" data-bs-toggle="tooltip" title="Kishan">K</span>
                    <span class="m_img_thumbnail green_thumb_color" data-bs-toggle="tooltip" title="Diya">D</span>
                    <span class="m_img_thumbnail purple_thumb_color" data-bs-toggle="tooltip" title="Madhuri">M</span>
                    <span class="m_img_thumbnail" data-bs-toggle="tooltip" title="3+">+3</span>
                </li>
                <li *ngIf="clickedTab != 'Timeline-tab'">
                    <a href="#" class="m_slider">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <li *ngIf="clickedTab != 'Timeline-tab'">
                    <app-add (onClose)="handleChildComponentClose()"></app-add>
                </li>
            </ul>
        </div>
    </div>

    <div class="Container p-0">
        <div class="row p-0">
            <div class="col-md-12 mt-5">
                <ul class="nav nav-tabs" id="myTab" #myTabs role="tablist" (click)="tabClick($event)">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-tab="Overview-tab" id="Overview-tab" data-bs-toggle="tab"
                            data-bs-target="#Overview" type="button" role="tab" aria-controls="Overview"
                            aria-selected="true">
                            Overview
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-tab="Tasks-tab" id="Tasks-tab" data-bs-toggle="tab"
                            data-bs-target="#Tasks" type="button" role="tab" aria-controls="Tasks"
                            aria-selected="false">
                            Tasks
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Board-tab" data-tab="Board-tab" data-bs-toggle="tab"
                            data-bs-target="#Board" type="button" role="tab" aria-controls="Board"
                            aria-selected="false">
                            Board
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="Timeline-tab" data-tab="Timeline-tab" data-bs-toggle="tab"
                            data-bs-target="#Timeline" type="button" role="tab" aria-controls="Timeline"
                            aria-selected="false">
                            Timeline
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Overview" role="tabpanel" aria-labelledby="Overview-tab">
                        <app-overview [dataFromParent]="projectObj"></app-overview>
                    </div>
                    <div class="tab-pane fade" id="Tasks" role="tabpanel" aria-labelledby="Tasks-tab">
                        <app-tasks></app-tasks>
                    </div>
                    <div class="tab-pane fade" id="Board" role="tabpanel" aria-labelledby="Board-tab">
                        <app-board></app-board>
                    </div>
                    <div class="tab-pane fade" id="Timeline" role="tabpanel" aria-labelledby="Timeline-tab">...</div>

                </div>

            </div>
        </div>
    </div>
</div>
<!--Container Main end-->