<!--Container Main start-->
<div class="p-3">
    <div class="top_header float-start w-100">
        <div class="screen-heading">
            <h3 class="float-start mb-0">
                <i class="bi bi-arrow-left-circle" routerLink="/dashboard/missions/mission-detail/"></i>
                {{'common.addProjectRole' | translate}}
            </h3>
            <br>
            <br>
            <div class="breadcrumb">
                <a routerLink="/dashboard/missions/">Missions</a> &nbsp; &gt; &nbsp;
                <a routerLink="/dashboard/missions/mission-detail/">{{projectObj.title}}</a> &nbsp; &gt; &nbsp;
                <span>{{'common.projectRole' | translate}}</span>
                <div class="top_action float-end">
                    <h6 class="float-start mb-0" (click)="showForm()">
                        <i class="bi bi-plus-circle"></i> {{'common.addProjectRole' | translate}}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="Container container-main p-0">
        <div class="row p-0">
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
                <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">

                    <table class="table table-striped table-hover mb-0 ">
                        <thead class="table-light">
                            <tr>
                                <th>{{'common.role' | translate}}</th>
                                <th>{{'common.members' | translate}}</th>
                                <th>{{'common.hoursToSpend' | translate}}</th>
                                <th colspan="2">{{'common.hourlyRate' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="isFormVisible">
                                <td>
                                    <!-- <select class="form-control" placeholder="Select Role" id="designation"
                                        formControlName="designation">
                                        <option value="" disabled>Select a Role</option>
                                        <option *ngFor="let data of designationList" value="{{data.id}}">
                                            {{data.name}}
                                        </option>
                                    </select> -->
                                    <!-- <h6 class="error-message">
                                        <span
                                            *ngIf="roleForm.get('designation').invalid && roleForm.get('designation').touched"
                                            class="text-danger">
                                            Role {{'common.required'| translate}}
                                        </span>
                                    </h6> -->
                                </td>
                                <td>
                                    <select class="form-control" placeholder="Select Member" id="memberId"
                                        formControlName="memberId" required>
                                        <option value="" disabled>{{'common.selectaMember' | translate}}</option>
                                        <option *ngFor="let data of memberList" value="{{data.id}}">
                                            {{data.name}}
                                        </option>
                                    </select>
                                    <h6 class="error-message">
                                        <span
                                            *ngIf="roleForm.get('memberId').invalid && roleForm.get('memberId').touched"
                                            class="text-danger">
                                            {{'common.members' | translate}} {{'common.required'| translate}}
                                        </span>
                                    </h6>
                                </td>
                                <td>
                                    <input type="number" placeholder="{{'common.enterHours' | translate}}"
                                        class="form-control" id="hoursToSpend" formControlName="hoursToSpend" required>
                                    <h6 class="error-message">
                                        <span
                                            *ngIf="roleForm.get('hoursToSpend').invalid && roleForm.get('hoursToSpend').touched"
                                            class="text-danger">
                                            {{'common.hours' | translate}} {{'common.required'| translate}}
                                        </span>
                                    </h6>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2">$</span>
                                        <input type="number" placeholder="{{'common.enterRate' | translate}}"
                                            class="form-control" id="hourlyRate" formControlName="hourlyRate" required>
                                    </div>
                                    <h6 class="error-message">
                                        <span
                                            *ngIf="roleForm.get('hourlyRate').invalid && roleForm.get('hourlyRate').touched"
                                            class="text-danger">
                                            {{'common.rate' | translate}} {{'common.required'| translate}}
                                        </span>
                                    </h6>
                                <td>

                                    <button type="submit" class="btn">
                                        <i class="bi bi-check2"></i>
                                    </button>
                                    <button type="button" class="btn " (click)="onCancel()">
                                        <i class="bi bi-x"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Team Lead </td>
                                <td>
                                    <span class="m_img_thumbnail"
                                        [style.background]="sharedService.getBackgroundColor(projectObj.teamLead)">
                                        {{sharedService.getFirstLetter(projectObj.teamLead)}}</span>
                                    {{projectObj.teamLead}}
                                </td>
                                <td> - </td>
                                <td>-</td>
                                <td></td>
                            </tr>
                            <tr
                                *ngFor="let data of projectRoleList | paginate: { itemsPerPage: 5, currentPage: p,totalItems: totalCount }">
                                <td>{{data.designation}}</td>
                                <td>
                                    <span class="m_img_thumbnail"
                                        [style.background]="sharedService.getBackgroundColor(data.member)">
                                        {{sharedService.getFirstLetter(data.member)}}</span>
                                    {{data.member}}
                                </td>
                                <td>{{data.hoursToSpend}}</td>
                                <td>{{data.hourlyRate}}</td>
                                <td>
                                    <!-- <button type="submit" class="btn" (click)="editRole()">
                                        <i class="bi bi-pencil-square"></i>
                                    </button> -->
                                    <button type="button" class="btn" (click)="delete(data)">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <app-skeleton [count]="'5'" *ngIf="skeletons"></app-skeleton>
                    <div class="no-records-found mt-5 text-center" *ngIf="projectRoleList.length == 0 && !skeletons">
                        <span>No Records Found ! </span>
                    </div>
                    <div class="text-end mt-4">
                        <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Sticky buttons -->
    <div class="sticky-buttons">
        <button class="btn btn-outline-primary auth-cancel-outline" routerLink="/dashboard/missions/mission-detail/">
            {{'common.cancel' | translate}}
        </button>
        <button class="btn btn-primary auth-buttons" (click)="onSubmit()">
            {{'common.saveRoles' | translate}}
        </button>
    </div>
</div>
<!--Container Main end-->

<app-confirmation-modal (onClose)="onCloseConfirmationModal($event)" [isOpen]="isConfirmationModalOpen"
    [title]="modalTitle" [message]="modalMessage"></app-confirmation-modal>