.m_task_status .not-started {
  color: gray !important;
}
.m_task_status .in-progress {
  color: #d08411 !important;
}
.m_task_status .completed {
  color: green !important;
}

/* app.component.css */
.tooltip-container {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 999;
}

.tooltip.open {
  display: block;
}

.dropdown {
  margin-bottom: 10px;
}

.dropdown label {
  display: block;
  font-weight: bold;
}

.dropdown select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.accordion-item {
  border: 0px !important;
}
