<!--Filter Code-->
<div class="sideFormFields card mb-3" [ngClass]="{'ShowFields' : isSidebarOpenClose}">
    <div class="card-header">
        <span> {{'common.documentDetail' | translate}} </span>
        <button class="btn" aria-label="Close" (click)="sidebarOpenClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="row document-detail">
            <div class="col-md-12 mb-4">
                <p class="mb-0">
                    {{detailDocument.doc?.name}}
                    <i class="bi bi-download download-color" (click)="viewDocuments(detailDocument)"></i>
                </p>
                <small> {{'sidebar.documents' | translate}}</small>
            </div>
            <div class="col-md-12 mb-4">
                <p class="mb-0">
                    {{detailDocument.doc?.uploadedBy}}
                </p>
                <small>
                    {{'common.submittedBy' | translate}}
                </small>
            </div>
            <div class="col-md-12 mb-4">
                <p class="mb-0">
                    {{detailDocument?.name}}
                    <i class="bi bi-arrow-up-right-square" routerLink="/dashboard/missions"></i>
                </p>
                <small>
                    {{'common.projectName' | translate}}
                </small>
            </div>
            <div class="col-md-12 mb-4">
                <p class="mb-0">
                    {{detailDocument.doc?.createdDate | date: 'M/d/yy, h:mm a' }}
                </p>
                <small>
                    {{'common.submittedOn' | translate}}
                </small>
            </div>
        </div>
    </div>
    <div class="card-footer text-end">
        <button (click)="sidebarOpenClose()" class="btn btn-primary auth-buttons" type="submit">
            {{'common.close' | translate}}
        </button>
    </div>
</div>


<div class="mission_details">
    <ul>
        <ng-container *ngFor="let data of getAllDocumentList">
            <p class="document-heading" *ngIf="data.documents.length !== 0">
                {{data.name}}
            </p>
            <li (click)="sidebarOpenClose();viewDocDetail(data.name, doc)" *ngFor="let doc of data.documents">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                        <h4>
                            <a>
                                {{doc.name}}
                            </a>
                        </h4>
                        <p>
                            {{'common.fileName' | translate}}
                        </p>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                        <h4>
                            <a>{{doc.uploadedBy}} </a>
                        </h4>
                        <p>
                            {{'common.submittedBy' | translate}}
                        </p>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                        <h4>
                            <a>
                                {{data.createdDate | date: 'M/d/yy, h:mm a'}}
                            </a>
                        </h4>
                        <p> {{'common.submittedOn' | translate}}</p>
                    </div>
                </div>

            </li>

            <!-- <div class="no-records-found mt-5 text-center" *ngIf="data.documents.length == 0">
                <span>No Document Found ! </span>
            </div> -->
        </ng-container>
    </ul>
</div>