<!--Filter Code-->
<div class="sideFormFields card mb-3">
    <div class="card-header">
        <span> Document Details </span>
        <button class="btn" aria-label="Close" id="sidebarClose">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-0"><b>Logo Design.zip</b></p>
                <small>File Name</small>
                <button type="button" class="btn float-end"><i class="bi bi-download download-color"></i></button>
            </div>
        </div>
    </div>
    <div class="card-footer text-end">
        <button id="sidebarCloseButton" class="btn btn-primary auth-buttons" type="submit">
            Close
        </button>
    </div>
</div>


<div class="mission_details">
    <ul>
        <p class="document-heading">
            Need a logo design for a tech startup
        </p>
        <li id="sideFormOpen">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">
                            Logo Design.zip
                        </a>
                    </h4>
                    <p>
                        File Name
                    </p>
                </div>

                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">Sheikh Daniyal </a>
                    </h4>
                    <p>
                        Submitted by
                    </p>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">
                            11/28/2022 02:54 PM
                        </a>
                    </h4>
                    <p>Submitted On</p>
                </div>
            </div>
        </li>
        <li id="sideFormOpen">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">
                            Logo Design.zip
                        </a>
                    </h4>
                    <p>
                        File Name
                    </p>
                </div>

                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">Sheikh Daniyal </a>
                    </h4>
                    <p>
                        Submitted by
                    </p>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">
                            11/28/2022 02:54 PM
                        </a>
                    </h4>
                    <p>Submitted On</p>
                </div>
            </div>
        </li>
        <p class="document-heading">
            Mobile App UI/UX
        </p>
        <li id="sideFormOpen">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">
                            Logo Design.zip
                        </a>
                    </h4>
                    <p>
                        File Name
                    </p>
                </div>

                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">Sheikh Daniyal </a>
                    </h4>
                    <p>
                        Submitted by
                    </p>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">
                            11/28/2022 02:54 PM
                        </a>
                    </h4>
                    <p>Submitted On</p>
                </div>
            </div>
        </li>
        <li id="sideFormOpen">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">
                            Logo Design.zip
                        </a>
                    </h4>
                    <p>
                        File Name
                    </p>
                </div>

                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">Sheikh Daniyal </a>
                    </h4>
                    <p>
                        Submitted by
                    </p>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12 m_task_details">
                    <h4>
                        <a href="#">
                            11/28/2022 02:54 PM
                        </a>
                    </h4>
                    <p>Submitted On</p>
                </div>
            </div>
        </li>
    </ul>
</div>