<!--Container Main start-->
<div class="p-3">
    <div class="top_header float-start w-100">
        <div class="screen-heading">
            <h3 class="float-start">
                {{'sidebar.documents' | translate}}
            </h3>
            <!-- <div class="top_action float-end">
                <ul>
                    <li>
                        <a class="m_slider">
                            <i class="bi bi-search"></i>
                        </a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>

    <div class="Container p-0">
        <div class="row p-0">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{'sidebar.documents' | translate}}
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-document-details></app-document-details>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<!--Container Main end-->