<!--Container Main start-->
<div class="height-100 p-3">
    <div class="top_header float-start w-100">
        <div class="screen-heading">
            <h3 class="float-start">
                Documents
            </h3>
            <div class="top_action float-end">
                <ul>
                    <li>
                        <a href="#" class="m_slider">
                            <i class="bi bi-search"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="Container p-0">
        <div class="row p-0">
            <app-document-details></app-document-details>
        </div>
    </div>
</div>
<!--Container Main end-->