<div class="Container p-0">
    <div class="row p-0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            <div class="recent_mission_block  mb-5">
                <div class="hours_heading table-responsive">
                    <div class="screen-heading">
                        <h3 class="float-start">
                            Documents
                        </h3>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                         Document demo
                        </button>
                        <div class="div text-right float-end ">
                            <a class="text-right filter_icon list-icon m-2"><img
                                    src="../../../../../assets/Images/search.png"></a>
                        </div>
                    </div>
                </div>
                <div class="div">
                    <h5 class="document-header">Need a logo design for a tech startup</h5>
                    <div class="container-fuild card mt-3">
                        <div class="row m-3">
                            <div class="col-3">
                                <p class="mb-0"><b>Logo Design.zip</b></p>
                                <small>File Name</small>
                            </div>
                            <div class="col-3">
                                <p class="mb-0"><b>Sheikh Daniyal</b></p>
                                <small>Submitted by</small>
                            </div>
                            <div class="col-3">
                                <p class="mb-0"><b>11/28/2022 02:54 PM</b></p>
                                <small>Submitted On</small>
                            </div>
                        </div>
                    </div>
                    <div class="container-fuild card mt-2">
                        <div class="row m-3">
                            <div class="col-3">
                                <p class="mb-0"><b>Source Files.zip</b></p>
                                <small>File Name</small>
                            </div>
                            <div class="col-3">
                                <p class="mb-0"><b>Sheikh Daniyal</b></p>
                                <small>Submitted by</small>
                            </div>
                            <div class="col-3">
                                <p class="mb-0"><b>11/28/2022 02:54 PM</b></p>
                                <small>Submitted On</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div">
                    <h5 class="document-header mt-4 mb-3">Mobile App UI/UX </h5>
                    <div class="container-fuild card">
                        <div class="row m-3">
                            <div class="col-3">
                                <p class="mb-0"><b>Links.zip</b></p>
                                <small>File Name</small>
                            </div>
                            <div class="col-3">
                                <p class="mb-0"><b>Sheikh Daniyal</b></p>
                                <small>Submitted by</small>
                            </div>
                            <div class="col-3">
                                <p class="mb-0"><b>11/28/2022 02:54 PM</b></p>
                                <small>Submitted On</small>
                            </div>
                        </div>
                    </div>
                    <div class="container-fuild card mt-2">
                        <div class="row m-3">
                            <div class="col-3">
                                <p class="mb-0"><b>Documentation.docx</b></p>
                                <small>File Name</small>
                            </div>
                            <div class="col-3">
                                <p class="mb-0"><b>Sheikh Daniyal</b></p>
                                <small>Submitted by</small>
                            </div>
                            <div class="col-3">
                                <p class="mb-0"><b>11/28/2022 02:54 PM</b></p>
                                <small>Submitted On</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-color">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Document Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="div">
                    <div class="div">
                        <p class="mb-0"><b>Logo Design.zip</b></p>
                        <small>File Name</small>
                        <button type="button" class="btn float-end"><i
                                class="bi bi-download download-color"></i></button>
                    </div>
                    <div class="div my-3">
                        <div class="pull-right">
                            <p class="mb-0"><b>Sheikh Daniyal</b></p>
                            <small>Submitted by</small>
                        </div>
                    </div>
                    <div class="div my-3">
                        <div class="pull-right">
                            <p class="mb-0"><b>Need a logo design for a tech startup</b></p>
                            <small>Project Name</small>
                            <button type="button" class="btn float-end"><i class="bi bi-box-arrow-up-right download-color"></i></button>
                        </div>
                    </div>
                    <div class="div my-3">
                        <div class="pull-right">
                            <p class="mb-0"><b>12/06/2022</b></p>
                            <small>Submitted on</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>